*{
    margin: 0;
    padding: 0;
    font-family: 'Georgia', Times, serif;
    box-sizing: border-box;
}

.user{
    width: fit-content;
    margin: 150px auto;
    display: flex;
}
.user img{
    width: 320px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 100;
    box-shadow: 10px 10px rgba(0,0,0,0.3);
    transition: transfrom 1s, box-shadow 1s;
}
.info{
    padding: 10px 50px;
    transform: translateX(0px);
    opacity: 1;
    transition: transfrom 1s, opacity 1s;
}
.inf0 h1{
    font-size: 80px;
    font-weight: 500;
}
.info {
    line-height: 26px;
}
.info a{
    background: #4f40ff;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 30px;
    margin-top: 20px;
}
.info span{
   color: #4f40ff;
   font-weight: 500; 
}
.close-icon{
    width: 320px;
    cursor: pointer;
    position: relative;
    transition: transfrom 1s;
}
.close-icon::before, .close-icon::after{
    content: '';
    height: 100%;
    width: 2px;
    background: #3333;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 1px;
}
.close-icon::before{
    transform: rotate(30deg);
}
.close-icon::after{
    transform: rotate(-30deg);
}

.hide-details .info{
    transform: translateX(50px);
    opacity: 0;
}
.hide-details .close-icon{
    transform: translateX(-410px);
}
.hide-details img{
    transform: translateX(410px);
    box-shadow: 0 0 0 rgba(0,0,0,0.3)
}